.landingSliderContainer {
  width: 100%;
  max-width: 1360px;
  height: 24rem;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.slideImage {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  animation: bannerStyle 3s infinite alternate ease-in-out;
}
@keyframes bannerStyle {
  from {
    scale: 1;
    rotate: 0deg;
  }
  to {
    scale: 1.05;
    rotate: 1deg;
  }
}
.noneShow {
  opacity: 0.3;
}
.sliderButton {
  outline: none;
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.8rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  border: none;
  border-radius: 100%;
}
.sliderButton:hover {
  scale: 1.2;
  animation: buttonAnimation 1s infinite alternate ease-in-out;
  background-color: white;
}
@keyframes buttonAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
.sliderButton:hover i {
  rotate: 360deg;
}
.sliderButton i {
  font-size: 1.5rem;
}
.nextSlideButton {
  position: absolute;
  right: 0;
}
.backSlideButton {
  position: absolute;
  left: 0;
}
.indexOfContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  /* background-color: #ffffff; */
  padding: 0.5rem;
  border-radius: 15px;
  z-index: 50000;
  right: 45%;
  bottom: 5%;
  transform: scale(-1, 1);
}
.index {
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.enableIndex {
  background-color: white;
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 8px;
  opacity: 1;
}


@media only screen and (max-width: 1024px) {
  .landingSliderContainer {
    width: 100%;
    border-radius: 0;
    display: block;
    height: 18rem;
    margin-top: 1rem;
    background-color: white;
    box-shadow: none;
  }
  .bannerStyle {
    animation: none;
    scale: 1;
    object-fit: cover;
    animation: bannerStyleMobile 2s infinite alternate ease-in-out;
  }
  @keyframes bannerStyleMobile {
    from {
      scale: 1;
    }
    to {
      scale: 1.05;
    }
  }
  .nextSlide,
  .backSlide {
    display: none;
  }
  .indexOfContainer {
    z-index: 1;
    right: 30%;
    top: 255px;  }
}
