@import url(layout/siteLayout.module.css);
@import url(components/siteLayoutComponents/siteFooter/siteFooter.css);
@import url(components/siteLayoutComponents/siteNavigation/siteNavigation.css);
@import url(components/homePage/landingSlider/landingSlider.css);
@import url(components/singleProductPage/productIntroduction/productIntroduction.module.css);
@import url(components/scrollToUpButton/scrollToUpButton.module.css);
@import url(components/singleProductPage/productSpecifications/productSpecifications.module.css);
@import url(components/cartPage/cartPage.css);
@import url(components/homePage/landingBanners/landingBanners.css);
@import url(components/homePage/circleCategories/circleCategories.css);
@import url(components/homePage/ProductsLayout/productsLayout/productsLayout.css);
@import url(components/categorizedProductsPage/categorizedProducts/categorizedProducts.css);
@import url(components/categorizedProductsPage/categorizedProductsPage.css);
@font-face {
  font-family: VazirFont;
  src: url(assets/fonts/Vazir-FD.ttf);
}
* {
  font-family: "VazirFont";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
.app {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #cbd5e1;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 15px;
}
