@import url(cartContent/cartContent.css);
@import url(checkout/checkout.css);
@import url(emptyCartPage/emptyCartPage.css);

.cartPageContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
