@import url(categorizedProducts/categorizedProducts.css);
@import url(categorizedProductsFilters/categorizedProductsFilters.css);

.categorizedProductsPage {
  max-width: 1360px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.categorizedProductsBlock {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.categorizedProductsBlock p {
  color: #475569;
  font-size: 1.05rem;
}

@media only screen and (max-width: 1024px) {
  .categorizedProductsPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
