.categorizedProductsFiltersContainer {
  width: 25rem;
  margin-top: 2.5rem;
  /* border: 1px solid gray; */
  border: 1px solid #cbd5e1;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background-color: #f3f4f6;
}
.categorizedProductsFiltersContainer p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #475569;
}
.filterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.activeFilterContainer {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ef4444;
}
.disabledFilterContainer {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.filterOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  font-size: 0.95rem;
}
.filterOptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.filterOptionContainer input {
  cursor: pointer;
}
