.landingBannersContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  overflow: hidden;
}
.landingBannersContainer img {
  cursor: pointer;
  padding: 0.5rem;
  width: 50%;
  /* border-bottom: 1px solid #94a3b8; */
  /* border-top: 1px solid #94a3b8; */
  border-radius: 15px;
}
.landingBannersContainer img:hover {
  scale: 1.02;
}

@media only screen and (max-width: 1024px) {
  .landingBannersContainer {
    width: 100%;
    overflow: hidden;
  }
  .landingBannersContainer img:last-child {
    display: none;
  }
  .landingBannersContainer img {
    width: 170%;
    padding: 0;
    border-radius: 0;
  }
}
